In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from time import sleep
from random import randint

import re
import time
import requests
from bs4 import BeautifulSoup
import csv

In [2]:
headers = {"Accept-Language": "en-US, en;q=0.5"}

In [3]:
movie_name = []
year = []
time = []
rating = []
certificate = []
votes = []
gross = []
metascore = []

In [4]:
pages = np.arange(1,1000,100)

In [5]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text, 'html.parser')
    
    
    movie_data = soup.find_all('div', attrs = {'class': 'lister-item mode-advanced'})
    
    sleep(randint(2,8))

In [6]:
for store in movie_data:
        name = store.h3.a.text
        movie_name.append(name)
        
        year_of_release = store.h3.find('span', class_="lister-item-year text-muted unbold").text
        year.append(year_of_release)
        
        runtime = store.p.find("span", class_= 'runtime').text
        time.append(runtime)
        
        rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
        rating.append(rate)
       
        
        meta = store.find('span', class_="metascore").text if store.find('span', class_="metascore")else"****"
        metascore.append(meta)
        
        value = store.find_all('span', attrs = {'name': "nv"})
        
        vote = value[0].text
        votes.append(vote)
        
        
        grosses = value[1].text if len(value)>1 else'&&&&'
        gross.append(grosses)

In [7]:
for store in movie_data:
       
    rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)

In [8]:
rate

'7.6'

In [9]:
movie_list = ({"Movie Name": movie_name, "year_of_release": year, "Watching Time": time, "Rate": rate, "Metascore": metascore, "Votes": vote, "Gross":gross })
df = pd.DataFrame.from_dict(movie_list, orient='index')
df = df.transpose()

In [10]:
df

,Movie Name,year_of_release,Watching Time,Rate,Metascore,Votes,Gross
0,A Man for All Seasons,(1966),120 min,7,72,6,$28.35M
1,Hedwig and the Angry Inch,(2001),95 min,.,85,9,$3.03M
2,Les triplettes de Belleville,(2003),80 min,6,91,",",$7.00M
3,Ondskan,(2003),113 min,None,61,0,$0.02M
4,Adams æbler,(2005),94 min,None,51,0,$0.00M
...,...,...,...,...,...,...,...
95,Control,(2007),122 min,None,78,None,$0.87M
96,Les yeux sans visage,(1960),90 min,None,90,None,$0.05M
97,Shine,(1996),105 min,None,87,None,$35.81M
98,The Invisible Man,(1933),71 min,None,87,None,&&&&
99,Celda 211,(2009),113 min,None,****,None,&&&&

In [11]:
df

,Movie Name,year_of_release,Watching Time,Rate,Metascore,Votes,Gross
0,A Man for All Seasons,(1966),120 min,7,72,6,$28.35M
1,Hedwig and the Angry Inch,(2001),95 min,.,85,9,$3.03M
2,Les triplettes de Belleville,(2003),80 min,6,91,",",$7.00M
3,Ondskan,(2003),113 min,None,61,0,$0.02M
4,Adams æbler,(2005),94 min,None,51,0,$0.00M
...,...,...,...,...,...,...,...
95,Control,(2007),122 min,None,78,None,$0.87M
96,Les yeux sans visage,(1960),90 min,None,90,None,$0.05M
97,Shine,(1996),105 min,None,87,None,$35.81M
98,The Invisible Man,(1933),71 min,None,87,None,&&&&
99,Celda 211,(2009),113 min,None,****,None,&&&&

In [12]:
df

,Movie Name,year_of_release,Watching Time,Rate,Metascore,Votes,Gross
0,A Man for All Seasons,(1966),120 min,7,72,6,$28.35M
1,Hedwig and the Angry Inch,(2001),95 min,.,85,9,$3.03M
2,Les triplettes de Belleville,(2003),80 min,6,91,",",$7.00M
3,Ondskan,(2003),113 min,None,61,0,$0.02M
4,Adams æbler,(2005),94 min,None,51,0,$0.00M
...,...,...,...,...,...,...,...
95,Control,(2007),122 min,None,78,None,$0.87M
96,Les yeux sans visage,(1960),90 min,None,90,None,$0.05M
97,Shine,(1996),105 min,None,87,None,$35.81M
98,The Invisible Man,(1933),71 min,None,87,None,&&&&
99,Celda 211,(2009),113 min,None,****,None,&&&&

In [13]:
df.to_excel("list of top 100 Movies from IMDB.xlsx")